
.nav-links li a:hover {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.nav-links li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
}



#logo a{
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: white;


}

.navbar{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    color: white;

}

.nav-links {
    height: 100%;
}

.nav-links ul {
    display: flex;
    padding: 3%;
}

.nav-links li {
    padding: 3%;
    margin-right: 5%;
    text-overflow: clip;
    list-style: none;
}

.nav-links li a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.burger{
    position: absolute;
    top: 0;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.burger div{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


@media screen and (max-width:1000px) {

    .bodyClass{
        overflow-x: hidden;
    }

    
    .navbar {
        margin-top: 4%;
        flex-direction: column;
        justify-content: space-around;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links ul {
        padding: 3%;

        width: 100%;
        flex-direction: column;
    }

    .nav-links ul li {
        text-align: center;
    }

    .nav-links ul li a {
        padding: .5rem 1rem;
    }

    .nav-links.active {
        display: flex;
    }

    .burger{
        display: flex;
        cursor: pointer;
    }

    .nav-links li a:hover {
        display: inline-block;
        color: #fff;
        text-decoration: none;
    }
    
    .nav-links li a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width .3s;
    }
    
    .link:hover::after {
        width: 0%;
    }

}


@keyframes navLinkFadeIn {
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px)

    }
}

@keyframes navLinkFadeOut {
    from{
        opacity: 1;
        transform: translateX(0px)
    }
    to{
        opacity: 0;
        transform: translateX(50px)


    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}